.book{
  width:100%;
  height:1400px;
  position:relative;
  background:#043731;

  &-wrap{
      width:1243px;
      height:879px;
      background: url(../images/book_bg.gif) no-repeat;
      position:absolute;
      top:400px;
      left:16%;
  }

  &-cover{
    width:625px;
    height:879px;
    overflow:hidden;

    &-image{
      width:625px;
      height:879px;
    }
  }



  &-info{
    width: 451px;
    height: 653px;
    position: absolute;
    top: 88px;
    left: 57%;
    padding:50px 15px 0;


    &-title{
      font-size:35px;
      color:#f0a748;
      text-align: center;

    }


  }

}