.header{
  position:absolute;

  .gnb{
    width:100%;
    background:none;
    box-sizing: border-box;
    position:fixed;
    z-index: 2;


    &-close{
      height:65px;
      position: relative;
      background:#fff;
      opacity: 0.8;

      &-button{
        display:block;
        padding:10px 0;
        border:0;
        background:none;
        position:absolute;
        top:20px;
        left:83px;
        text-indent: -9999em;
        z-index: 9;
        cursor: pointer;

        span{
          display:block;
          width:36px;
          height:5px;
          background: #56878F;
          text-indent: -9999em;
        }
        &:before{
          content:"";
          display:block;
          width:36px;
          height:5px;
          background: #56878F;
          position:absolute;
          top:0;
        }
        &:after{
          content:"";
          display:block;
          width:36px;
          height:5px;
          background: #56878F;
          position:absolute;
          top:20px;
        }


      }

      &-logo{
        font-size:24px;
        letter-spacing:9px;
        position:absolute;
        top:12px;
        left:845px;
        color:#56878F;

      }

      &-sign{
        width:130px;
        position:absolute;
        top:18px;
        left:1649px;
        font-size:18px;
        color:#56878F;
      }
      &-login{
        float:left;
        &>span{
          margin:0 12px;
        }
      }

    }

    &-open{
      display:none;
      height:270px;
      background: #220905;

      &.on{
        display:block;
      }

      &-menu{
        width:1190px;

        @extend %clearfix;

        padding-top: 75px;

        &-depth1{
          width:297px;
          font-size:24px;
          color:#f0a748;
          float:left;
          text-align: center;

        }
        &-depth2{
          font-size:19px;
          color:#56878F;
          margin-top: 13px;
          line-height: 1.9;
        }
      }
    }
  }
}