// 인테리어 바깥

.interior{
  width:100%;
  min-width:1200px;
  height:2700px;
  padding-top:500px;
  position:relative;

  &-wrap{
    width:100%;
    min-width:1200px;
  }

  &-list{
    position: relative;

    &-item{
      position: absolute;
      top:0;
      width:100%;
      height:280px;
      overflow:hidden;

      &>span{
        display:block;
        position:absolute;
        top:125px;
        left:1000px;
        font-size:60px;
        font-weight: 700;


      }

      &:nth-child(2){
        top:450px;
      }

      &:nth-child(3){
        top:900px;
      }

      &:nth-child(4){
        top:1350px;
      }

      &:nth-child(5){
        top:1800px;
      }

      &:nth-child(6){
        top:2250px;
      }


      &-image{
        display:block;
        width:100%;
        min-width:1200px;
        height:280px;

        transform: scale(1);
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          opacity: 0.6;
        }



      }
    }

  }

  .border-box{
    position: fixed;
    z-index:99;
    left:100px;
    width: 1200px;
    height: 500px;
    box-sizing: border-box;
    border: 10px solid #56878F;
  }
}