.life{
  width:100%;
  min-width:1400px;
  height:973px;
  position:relative;
  overflow:hidden;

  &-page{
    width:100%;
    min-width:1400px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
  }

  &-wrap{
    width:1400px;
    margin:0 auto;
    height:100%;

    padding:250px 100px 0;

    @extend %clearfix;
  }

  &-image{
    width:730px;
    height:520px;
    float:left;

    @extend %clearfix;

    &-list{
      width:140px;
      float:left;
      margin-right:35px;

      &-wrap{
        width:140px;
        height:140px;
        overflow: hidden;
        margin-bottom:43px;
        border-radius: 50%;
        cursor:pointer;
        position:relative;

        &:last-child{
          margin:0;
        }
      }

      &-item{
        position:absolute;
        transform: translateX(-50%);
        left:50%;
        top:0;

        &.height100{
          height:100%;
          width:auto;
        }
      }
    }

    &-big {
      width: 520px;
      height: 520px;
      overflow: hidden;
      border-radius: 50%;
      float: left;
      position: relative;

      &-image {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 0;
      }
    }
  }

  &-info{
    width:570px;
    float:right;

    &-title{
      margin:0 auto 40px;
      font-size:60px;
      text-align: center;
      font-family: 'Nanum Myeongjo', serif;


      &.coaster{
        width:426px;
        color:#113ba5;
      }
      &.lisbon{
        color:#1c5413;
      }
      &.play{
        color:#ff9000;
      }
      &.coffee{
        color:#f8f8f8;
      }

    }

    &-paragraph{
      &.coffee2{
        color:#ffdddd;
      }
    }
  }

  &-wrap2{
    width:1400px;
    margin:0 auto;
    height:100%;

    padding:250px 100px 0;

    @extend %clearfix;

  }

  &-image2{
    width:730px;
    height:520px;
    float:right;

    @extend %clearfix;

    &-list{
      width:140px;
      float:right;
      margin-right:35px;

      &-wrap{
        margin-bottom:43px;
        &:last-child{
          margin:0;
        }
      }
      &-item{
        width:140px;
        height:140px;
        overflow: hidden;
        border-radius: 50%;
        cursor:pointer;

      }
    }
    &-big{
      width:520px;
      height:520px;
      overflow: hidden;
      border-radius: 50%;
      float:left;
      &-image{
        width:520px;
        height:520px;
      }
    }
  }

  &-info2{
    width:570px;
    float:left;

  }
}
.bg1{

  background:url(../images/life_bg1.jpg) no-repeat 0 -100px;
}
.bg2{

  background:url(../images/life_bg2.jpg) no-repeat 0 -100px;
}
.bg3{

  background:url(../images/life_bg5.jpg) no-repeat 0 -100px;

}
.bg4{

  background:url(../images/life_bg3.jpg) no-repeat 0 -100px;
}

